<div>
    <div class="row ginas-background">
        <div class="col-md-8 col-md-offset-2">
            <div class="banner-heading">About ginas</div>
        </div>
    </div>

    <div class="container ginas-container" id="ginas-about">
        <div class="row" id="links">
            <div class="col-md-10">
                <h2>Quick Links</h2>
                <ul>
                    <li><a ng-click="scrollTo('background')">Background</a></li>
                    <li><a ng-click="scrollTo('design')">Functional Design Studies</a></li>
                    <li><a ng-click="scrollTo('cases')">Case Studies</a></li>
                    <li><a ng-click="scrollTo('team')">ginas Team</a></li>
                    <li><a ng-click="scrollTo('contact')">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row" id="background">
            <div class="col-md-12">
                <h1>Background</h1>
                <p>Globalization presents tremendous challenges and
                    opportunities for national regulatory agencies, the
                    pharmaceutical industry, and global health as a whole. Emerging
                    diseases and the health impacts of catastrophic events respect
                    no national boundaries, nor does the increasing volume of
                    substandard, contaminated, and counterfeit products that
                    overburdens national regulators. Ingredients for pharmaceutical
                    products are typically sourced on a global basis and it is very
                    rare that all ingredients for a single product are produced
                    within one jurisdiction. To regulate the global supply chain
                    efficiently and to better respond to and prepare for
                    catastrophic events it is essential to have a global
                    information system for pharmaceutical ingredients.</p>
                <br>
                <p>ISO 11238 specifically addresses the identification and
                    exchange of regulated information on substances. Working
                    closely with that standard’s authors and regulatory authorities
                    from various countries, NCATS is developing an information
                    system to register and store substance-related information and
                    provide identifiers. This will ensure a robust substance
                    registration system that supports the additional needs of
                    national and regional authorities and is consistent with the
                    ISO 11238 standard. The system will support all substance types
                    described in the 11238 standard and provide multiple language
                    capability for the naming of substances and controlled
                    terminology used within the system.</p>
            </div>
        </div>
        <div class="row" id="design">
            <div class="col-md-12">
                <h1>Functional Design Studies</h1>
                <a href="./assets/files/DiederikDiscussiononNames.pdf"
                   class="link">Functional design requirements for substance
                    names, including domain, jurisdiction and language (pdf)</a>

                <h5>&nbsp;Substance Names, Mandatory Sources and
                    Standardization</h5>
                <br> <a href="./assets/files/FunctionalDesignSept2013.pdf"
                        class="link">Functional design for substance classes and
                groups according to the ISO 11238 scheme (pdf)</a>
                <h5>&nbsp;Implementation of ISO/IDMP 11238 Substance
                    Standard and Movement towards a Global Ingredient Archival
                    System</h5>
                <br> <a href="./assets/files/DiederikSubstanceFinal.pdf"
                        class="link">Functional design requirements: amlodipine,
                rosuvastatin zinc, and linaclotide examples (pdf)</a>

                <h5>&nbsp;Functional Design ISO/ FDIS-IDMP DATABASE 11238</h5>
                <br>
            </div>
        </div>
        <div class="row" id="cases">
            <div class="col-md-12">
                <h1>Case Studies</h1>

                <div class="row">
                    <div class="col-md-4">
                        <h3>Amlodipine Besilate</h3>
                        <div>
                            <img src="./assets/images/amlodipine-besilate.svg"
                                 alt="Amlodipine Besilate" class="img-responsive"/>
                        </div>
                        <div>
                            <p>Chemical Substance</p>
                            <p>Official Name</p>
                            <p>Salt / Parent Relationship</p>
                            <a href="./assets/files/Case%20Study%201%20-%20Amlodipine%20Besylate.pdf"
                               class="btn  btn-primary">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Linaclotide</h3>
                        <div>
                            <img src="./assets/images/Linaclotide.png" alt="Linaclotide"
                                 class="img-responsive"/>
                        </div>
                        <div>


                            <p>Protein Substance</p>
                            <p>Amino Acid Sequence</p>
                            <p>Disulfide Linkages</p>
                            <a href="./assets/files/Case%20Study%204%20-%20Linaclotide.pdf"
                               class="btn  btn-primary">Learn more</a> <br/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Insulin Degludec</h3>
                        <div>
                            <img src="./assets/images/Insulin%20Degludec.png" alt="Insulin Degludec"
                                 class="img-responsive"/>
                        </div>
                        <div>


                            <p>Protein Substance</p>
                            <p>C-Terminus Modification</p>
                            <p>Structural Modification</p>
                            <a href="./assets/files/Case%20Study%205%20-%20Insulin%20Degludec.pdf"
                               class="btn  btn-primary">Learn more</a> <br/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Brentuximab Vedotin</h3>
                        <div>
                            <img src="./assets/images/Brentuximab%20Vedotin.png"
                                 alt="Brentuximab Vedotin" class="img-responsive"/>
                        </div>
                        <div>

                            <p>Protein Substance</p>
                            <p>Variable substitution</p>
                            <p>Modification</p>
                            <a href="./assets/files/Case%20Study%206%20-%20Brentuximab%20Vedotin.pdf"
                               class="btn  btn-primary">Learn more</a> <br/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Ritonavir</h3>
                        <div>
                            <img src="./assets/images/ritonavir.svg" alt="Form"
                                 class="img-responsive"/>
                        </div>
                        <div>

                            <p>Group 1 Specified Substance</p>
                            <p>Physical Forms</p>
                            <p>Physical Properties</p>
                            <a href="./assets/files/Case%20Study%203%20-%20Ritonavir.pdf"
                               class="btn  btn-primary">Learn more</a>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Simethicone</h3>
                        <div>
                            <img src="./assets/images/simethicone.png" alt="Simethicone"
                                 class="img-responsive"/>
                        </div>
                        <div>

                            <p>Group 1 Specified Substance</p>
                            <p>Multiple Substance Ingredient</p>
                            <p>Physical Properties</p>
                            <a href="./assets/files/Case%20Study%202%20-%20Simethicone.pdf"
                               class="btn  btn-primary">Learn more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row" id="team">
            <br/>
            <div class="col-md-12">
                <h1>ginas Team</h1><br/>
                <div class="row">
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="ansm logo" src="./assets/images/ansm_logo.gif"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="usp logo" src="./assets/images/bgSiteName.png"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="ema logo" src="./assets/images/download.jpg"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="edqm logo" src="./assets/images/edqmlogo.png"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="ncats logo" src="./assets/images/ncats.png"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="fda logo" src="./assets/images/fda.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="ipec logo" src="./assets/images/IPECFed_RGB_230px.jpg"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="kew gardens logo" src="./assets/images/kew.png"/>
                    </div>
                    <div class="col-xs-2">
                        <br/>
                        <br/>
                        <img class="img-responsive" alt="health canada logo" src="./assets/images/canada.png"/>
                    </div>
                    <div class="col-xs-2">
                        <br/>
                        <br/>
                        <img class="img-responsive" alt="bfarm logo" src="./assets/images/logo-bfarm_en.gif"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="cbgmeb logo" src="./assets/images/logoHome.png"/>
                    </div>
                    <div class="col-xs-2">
                        <img class="img-responsive" alt="swissmedic logo" src="./assets/images/swissmedic-logo-en.gif"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="contact">
            <div class="col-md-10">
                <h1>Contact Us</h1>
                <p>Have a deployment related question? First, be sure to check our <a ui-sref="ginas.faq">FAQS</a>. Couldn't find
                    the
                    answer? Send us an email and we will respond as soon as possible.
                    <br/>
                    <a
                            href="mailto:ginas@mail.nih.gov?subject=ginas%20Inquiry"
                            target="_blank">ginas Team</a>
                </p>
            </div>
        </div>
        <!--        <p>This project was made possible through the effort and
                    leadership of a dedicated group of subject matter experts, who
                    we thank for their ongoing support.</p>-->

                <!-- <ul class="emails">
                     <li><a
                             href="mailto:callahanl@cder.fda.gov?subject=ginas%20Inquiry"
                             target="_blank">Lawrence Callahan - FDA (US)</a></li>
                     <li><a
                             href="mailto:Frank.Switzer@fda.hhs.gov?subject=ginas%20Inquiry"
                             target="_blank">Frank Switzer - FDA (US)</a></li>
                     <li><a target="_blank">Fouad Atouf - USP (US)</a></li>
                     <li><a target="_blank">Thomas Balzer - BfArM (Germany)</a></li>
                     <li><a target="_blank">Herman Diederik - CBG-MEB
                         (Netherlands)</a></li>
                     <li><a target="_blank">Christopher Jarvis - EDQM
                         (Council of Europe)</a></li>
                     <li><a target="_blank">Ciska Matai - CBG-MEB
                         (Netherlands)</a></li>
                     <li><a target="_blank">Vikesh Srivastava - Health
                         Canada (Canada)</a></li>
                     <li><a target="_blank">Philipp Weyermann - Swiss Medic
                         (Switzerland)</a></li>
                     <li><a target="_blank">Andrzej Wilk - USP (US)</a></li>
                 </ul>
     -->
            </div>
        </div>
    </div>
</div>
