<div>
    <div class="row ginas-background">
        <div class="col-md-8 col-md-offset-2">
            <div class="banner-heading"><i class="fa fa-exchange" aria-hidden="true"></i> G-SRS API</div>
            <h3>Sample API calls and results</h3>
        </div>
    </div>
    <br>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <!--<div class="alert alert-warning" role="alert"><code>POST</code> and <code>PUT</code>operations need user authentication.</div>
    To try the POST and PUT operations,  click the <button class="swagger-auth-required" title="Authorization required">!</button> icon in that particular operation,
    The following values are already set:<br>

        <i>auth-username:</i> apitester <br>
        <i>auth-key:</i> ATtW0TqPjSuqzSnyqW8n<br><br>
    click <button class = "btn btn-primary">Authorize</button>
    <p>
        The user 'apitester' is allowed to register a new substance. To get some example substance json, <br>
        1. Login to https://tripod.nih.gov/ginas/app/api/v1 with apitester/apitester <br>
        2. Use <b>Register Substance</b> link to register a substance, before Submit the substance, user has the option to view the json format by clicking <b>Show JSON</b><br>
        3. Copy the json and use it to try POST api operations.<br>
    </p>-->

    <h3 ng-show="isLoading" swagger-translate="loading"></h3>
    <div swagger-ui url="swaggerUrl" loading="isLoading" api-explorer="true" validator-url="false" error-handler="myErrorHandler" permalinks="true"></div>
</div>
</div>



    <!--<div class="container ginas-container" ng-cloak="">
        <div class="row" ng-repeat="call in calls track by $index">
            <div class="col-md-12">
                <h4>{{call.desc}}</h4>
                <code class="overflow">{{call.url}}</code>
                <br>
                <button ng-if="call.name!='render'" class="btn btn-primary" ng-click="makeCall(call)">Run Code</button>
                <div ng-if="call.name=='render'">
                    <img class="img-responsive" src={{call.url}}>
                </div>
                <pre ng-if="call.name!='render'&& call.results"><json-formatter json=call.results open="3"></json-formatter></pre>
            </div>
        </div>
    </div>-->
</div>
