<div ui-view>
    <div class="row ginas-background" id="ginas-welcome">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <span class="big hidden-xs">G-SRS</span><br>
            <span class="big-mobile visible-xs">G-SRS</span><br>
            <h1>sofware designed by the ginas team to implement the ISO-11238 standard</h1>
            <br/>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <a ng-click="open()" class="btn btn-default btn-ginas"
                       target="_blank"><i class="fa fa-code-fork" aria-hidden="true"></i> Code</a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="https://tripod.nih.gov/ginas/app" class="btn btn-default btn-ginas"
                       target="_blank"><i class="fa fa-laptop" aria-hidden="true"></i> Demo</a>
                </div>
                <div class="col-md-4 hidden-xs">
                    <a ui-sref="gsrs.release" class="btn btn-default btn-ginas"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Features</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="row text-center">
                        <h3>
                            <b>Consistent definitions</b>
                        </h3>
                    </div>
                    <div class="row">
                        <ul class="fa-ul">
                            <li><h4><i class="fa fa-pencil-square-o lists"></i> all
                                substances used in marketed medicinal products
                            </h4></li>
                            <li><h4><i class="fa fa-pencil-square-o lists"></i> active
                                substances under clinical investigation
                            </h4></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row text-center">
                        <h3>
                            <b>Store, retrieve, and distribute</b>
                        </h3>
                    </div>
                    <div class="row">
                        <ul class="fa-ul">
                            <li><h4><i class="fa fa-database lists"></i> register new
                                substances
                            </h4></li>
                            <li><h4><i class="fa fa-database lists"></i> curate</h4></li>
                            <li><h4><i class="fa fa-database lists"></i> review existing
                                data
                            </h4></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row text-center">
                        <h3>
                            <b>  support ISO11238 substance types</b>
                        </h3>
                    </div>
                    <div class="row">
                        <ul class="fa-ul">
                            <li><h4><i class="fa fa-code lists"></i> multiple language
                                capability
                            </h4></li>
                            <li><h4><i class="fa fa-code lists"></i> internal controlled
                                terminology
                            </h4></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a class="btn btn-primary" ui-sref="gsrs.api">API/Documentation</a>
<br/>
<br/>

                </div>
            </div>
        </div>
    </div>
    <div class="row ginas-background">
        <div class="col-md-3 col-md-offset-4">
            <script type="text/javascript">var submitted = false;</script>
           <iframe  name="my_frame" src="https://docs.google.com/forms/d/1nn4Ctlloipi6ENeTt80y2FhbcsrXTmXky93N4oTMtUo/viewform?embedded=true#start=embed" id="hidframe" width="760" height="500"
                    onload="if(submitted){submitForm();}" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

            <h1 class="text-center">Sign up for Email Updates</h1>
            <div class="form-elements">
            <fieldset class="pure-group">
              <label for="FirstName">First Name: </label>
              <input id="FirstName" name="FirstName" placeholder="What your Mom calls you" />
            </fieldset>

            <fieldset class="form-group">
              <label for="LastName">Message: </label>
              <input id="LastName" name="LastName" rows="10"
              placeholder=""></input>
            </fieldset>

            <fieldset class="form-group">
              <label for="Email"><em>Your</em> Email Address:</label>
              <input id="Email" name="Email" type="Email" value=""
              required placeholder="your.name@email.com"/>
              <span class="email-invalid" style="display:none">
                Must be a valid email address</span>
            </fieldset>

            <fieldset class="form-group">
              <label for="Team">team </label>
              <input id="Team" name="Team" placeholder="green" />
            </fieldset>

            <fieldset class="form-group">
              <label for="Comments">comments </label>
              <textarea id="Comments" name="Comments" placeholder="green"></textarea>
            </fieldset>
                <input type="hidden" name="draftResponse"
                       value="[,,&quot;-4712198275298785250&quot;]"> <input
                    type="hidden" name="pageHistory" value="0"> <input
                    type="hidden" name="fbzx" value="-4712198275298785250">
                <input type="submit" name="submit" value="Submit" id="ss-submit"
                       class="btn btn-primary">
            </form>
            <h4 id="formSubmitted" class="hidden">Info Submitted. We will respond to your request shortly. </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Supported Substance Types</h1>
          
                            <h5 class="text-center">(click tiles below for more info)</h5>
            <div class="row text-center">
                <div class="col-xs-4 col-md-3 box text-center flip"
                     ng-repeat="subclass in features track by $index">
                    <div class="card" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                        <div class="face front">
                            <div class="rounded" id={{subclass.type}}>
                                <img src={{subclass.imageurl}} alt="{{subclass.type}} image"
                                     class="img-responsive"/>
                                <h3>{{subclass.type}}</h3>
                            </div>
                        </div>
                        <div class="face back">
                            {{subclass.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
