<style>



</style>
<style>
    .affix{
        top:50px;
        display: block;
        width:330px;
    }

    @media (max-width:991px){
        .affix{width:auto;
            position:relative;}
</style>

  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

<div >
    <div class="row ginas-background justify-content-center" id="faq-background" style = "align-items: center;">
        <div class="col-md-4 col-sm-6 col-md-offset-1 " align="center">
            <h1 class="banner-heading" style = "margin:10px"><!--<i class="fa fa-newspaper-o " aria-hidden="true"></i> -->News</h1>
        </div>
        <div class="col-md-6 col-sm-6 col-md-offset-1" align="center" style ="vertical-align: middle ;margin-top:10px;margin-bottom:10px">
           <div style = "width:300px"> <h2 class = 'sm-banner' style = ''></i>The Ginas Project </h2>&nbsp <img class = "header-icon" src = "../ginas/assets/images/pillIconColor.png" style = 'float:left;margin-top:12px' /></div>
        </div>
    </div>
    <div >
        <div class="row">
           <div class = "col-lg-12">
             <h2>Latest News</h2>
            </div>
        </div>
        <div class="row no-gutter">
            
             <div class="col-sm-4 col-sm-push-8" >
                 <div id = "docker" bs-affix data-offset-top="50">
                     <div class =  "cell" >
                         <div class = 'row'>
                             <div class = 'col-sm-6'>
                                <h3>Filters</h3>
                             </div>
                             <div class = 'col-sm-6'>
                                 <div id = "dockswitch" ng-click="dockSwitch($event)">undock</div>
                             </div>
                         </div>
                     <div class = 'row'>
                         <div class = 'col-sm-6'>
                            <h4>Category</h4>
                             <div class = "filter-menu" ng-style="!myFilter.type && {'font-weight':'bold'}"  ng-click="myFilter = {}">All</div>
                             <div class = "filter-menu" ng-style="myFilter.type == 'news' && {'font-weight':'bold'}"  ng-click="myFilter = {type: 'news'};">News</div>
                             <div class = "filter-menu" ng-style="myFilter.type == 'meeting' && {'font-weight':'bold'}"  ng-click="myFilter = {type: 'meeting'}">Meetings</div>
                             <div class = "filter-menu" ng-style="myFilter.type == 'presentation' && {'font-weight':'bold'}"  ng-click="myFilter = {type: 'presentation'}">Presentations</div>
                             </div>
                         <div class = 'col-sm-6'>
                             <h4>Year</h4>
                             <div class = "filter-menu"  ng-style="filterYear == '' && {'font-weight':'bold'}" ng-click="filterYear = ''">All</div>
                             <div class = "filter-menu"  ng-style="filterYear == '2018' && {'font-weight':'bold'}" ng-click="filterYear = '2018'">2018</div>
                             <div class = "filter-menu"  ng-style="filterYear == '2017' && {'font-weight':'bold'}" ng-click="filterYear = '2017'">2017</div>
                             <div class = "filter-menu"  ng-style="filterYear == '2016' && {'font-weight':'bold'}" ng-click="filterYear = '2016'">2016</div>
                             <div class = "filter-menu"  ng-style="filterYear == '2015' && {'font-weight':'bold'}" ng-click="filterYear = '2015'">2015</div>
                         </div>
                     </div>
                 </div>
                <div class = "cell ui-scrollfix" ui-scrollfix="0">
                   <div >
                        <h3>Older Articles</h3>

                        <div ng-repeat="article in articles | yearReduce:filterYear:'date'| filter:myFilter" style = "padding-bottom:8px" >

                            <div ng-if = "article.type == 'news'">
                                <b>{{article.date}}</b><a ng-click="scrollTo(article.title, $index)">
                                     {{article.title}}
                                </a>
                             </div>

                                <div ng-if = "article.type == 'presentation'">
                                        <b>{{article.date}}</b><a ng-click="scrollTo(article.heading, $index)">
                                             {{article.heading}}
                                        </a>
                                    </div>


                                    <div ng-if = "article.type == 'meeting'">
                                        <a  ng-click="scrollTo(article.heading, $index)">
                                             {{article.heading}}
                                        </a>
                                    </div>

                        </div>

                   </div>
                   </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-pull-4" >
                <div class = " ">

                    <div ng-repeat="article in articles | yearReduce:filterYear:'date'| filter:myFilter ">

                        <div ng-if = "article.type == 'news'">
                            <div class = "left-col cell">
                                <div style = "float:right"><b style = "font-size:110%">Article</b></div>
                                <br/><div class = "date" id={{article.title}}-{{$index}}>{{article.date}}</div>
                               <h2>{{article.title}}</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                       <p ng-bind-html="article.text"></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div ng-if = "article.type == 'presentation'">
                            <div   class = "left-col cell">
                                <div style = "float:right"><b style = "font-size:110%">Presentation</b></div>
                                <br/><div class = "date" id={{article.heading}}-{{$index}}>{{article.date}}</div>
                                <a ng-if ="article.url" href = "{{article.url}}"><h3>{{article.heading}}</h3></a>
                                <div ng-if="!article.url"><h3>{{article.heading}}</h3>
                                    {{article.desc}}
                                </div>
                                <div ng-if ="article.topics" ng-repeat = "topics in article.topics">
                                    <br/><a href = "{{topics.url}}"><u>{{topics.txt}}</u></a><br/>
                                </div>
                            </div>
                        </div>

                        <div ng-if = "article.type == 'meeting'" class = "left-col cell">
                            <div style = "float:right"><b style = "font-size:110%">Meeting</b></div>
                           <div id={{article.heading}}-{{$index}}>
                           <h2>{{article.heading}}</h2>
                            <div ng-repeat = "topics in article.topics">
                                <a href = "{{topics.url}}"><u>{{topics.txt}}</u></a>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class = "cell left-col" ng-show="(articles | yearReduce:filterYear:'date'| filter:myFilter).length == 0"><h3>Your filter returned no results</h3></div>
            </div>
           
        </div>
    </div>
    </div>
