
 
<style>
      .affix{
            top:30px;
        display: block;
        width:330px;
        }

@media (max-width:991px){
    .affix{width:auto;
        position:relative;}
</style>

  <meta name="viewport" content="width=device-width, initial-scale=1">

<div  id = 'faq-container'>
    <div class="row ginas-background justify-content-center" style = "align-items: center;">
        <div class="col-md-4 col-sm-12 col-md-offset-1 " align="center">
            <h1 class="banner-heading" style = ""> FAQs</h1>
        </div>
        <div class="col-md-6 col-sm-12 col-md-offset-1 banner-logo" align="center" style ="">
           <div style = "width:300px"> <h2 class = "banner-name"></i>The Ginas Project </h2>&nbsp <img class = "banner-icon" src = "../ginas/assets/images/pillIconColor.png" /></div>
        </div>
    </div>
    <div >
        <div class="row">
           <div class = "col-lg-12">
             <h2>frequently asked questions</h2>
            </div>
        </div>
        <div class="row no-gutter">
            
             <div class="col-md-4 col-md-push-8" >
               <div >
                <div class = 'cell' bs-affix data-offset-top="30" style = "" >
                 
                    <h3>Question Index</h3>
                      <uib-accordion ng-repeat="subject in faqs track by $index">
                        <uib-accordion-group ng-class = "new" is-open="status.open">
                            <uib-accordion-heading>
                                {{subject.subject}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                              </uib-accordion-heading>
                            <li ng-repeat="faq in subject.questions track by $index">
                                <a ng-click="scrollTo(subject.subject, $index)">{{faq.question}}</a>
                            </li>
                         </uib-accordion-group>
                            
                      </uib-accordion> 
                          </div>
                        
                   <!-- <div ng-repeat="subject in faqs track by $index" class = 'cell'>
                   
                        <ul>
                             <br/>
                            <li ng-repeat="faq in subject.questions track by $index">

                                <a ng-click="scrollTo(subject.subject, $index)">{{faq.question}}</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--</div>-->
                </div>
            </div>
         
            <div class="col-md-8 col-md-pull-4  " >
                <div class = "cell left-col">
                    <div ng-repeat="subject in faqs track by $index" class = "">

                       <!-- <h1>{{subject.subject}}</h1>-->
                        <div class="no-gutter" ng-repeat="faq in subject.questions track by $index">
                            <div  id={{subject.subject}}-{{$index}}>
                                <div class="">
                                    <h3>{{faq.question}}</h3>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <p>{{faq.answer}}</p>
                                    <a ng-click="scrollTo('faq-container')"><h5>back to top</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        </div>
    </div>
    </div>


   