<style>
#main-div{
    max-width:991px;
}
.banner-heading{
    padding-top:0%;
    font-size: 5em;
}

.header-icon{
    height:50px;
    width:50px;
}

.ginas-background{
    padding-bottom:0px;
}

.h1{
    }
.left-bar{
    margin-left:-15px;
    padding-left:15px;
    padding-right:8px;
    margin-right:-8px;
    background-color:#f4f4f4;
    padding-top:10px;
}
.right-bar{
    margin-right:-15px;
    padding-right:15px;
    padding-left:8px;
    margin-left:-8px;
background-color:#f4f4f4;
padding-bottom:10px;
}
#main-div{
    background-color:white;
    padding-left:0px;
    padding-right:0px;
}
.right-cont{
  padding:10px;
}

.left-cont{
    margin:10px;
}
@media (max-width: 767px) {
    .left-bar{
      
    }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.right-col{
    margin-right:15px;
}
.cell{
    background-color:#f4f4f4;
    padding:10px;
}
</style>
 <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
 
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div >
    <div class="row ginas-background justify-content-center" id="faq-background" style = "align-items: center;">
        <div class="col-md-4 col-sm-12 col-md-offset-1 " align="center">
            <h1 class="banner-heading" style = "margin:10px"><i class="fa fa-question-circle-o" aria-hidden="true"></i> FAQs</h1>
        </div>
        <div class="col-md-6 col-sm-12 col-md-offset-1" align="center" style ="vertical-align: middle ;margin-top:10px;margin-bottom:10px">
           <div style = "width:300px"> <h2 style = 'float:left;padding-right:5px;'></i>The Ginas Project </h2>&nbsp <img class = "header-icon" src = "../ginas/assets/images/pillIconColor.png" style = 'float:left;margin-top:12px' /></div>
        </div>
    </div>
    <div >
        <div class="row">
           <div class = "col-lg-12">
             <h2>frequently asked questions</h2>
            </div>
        </div>
        <div class="row no-gutter">
            
             <div class="col-sm-4 col-sm-push-8">
                    <div ng-repeat="subject in faqs track by $index" class = 'cell'>
                   <!-- <h4>{{subject.subject}}</h4>-->
                        <ul>
                             <br/>
                            <li ng-repeat="faq in subject.questions track by $index">

                                <a ng-click="scrollTo(subject.subject, $index)">{{faq.question}}</a>
                            </li>
                        </ul>
                    </div>
            </div>
         
            <div class="col-sm-8 col-sm-pull-4  " >
                <div class = "cell right-col">
                    <div ng-repeat="subject in faqs track by $index" class = "">

                       <!-- <h1>{{subject.subject}}</h1>-->
                        <div class="no-gutter" ng-repeat="faq in subject.questions track by $index">
                            <div  id={{subject.subject}}-{{$index}}>
                                <div class="">
                                    <h3><strong>{{faq.question}}</strong></h3>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <p>{{faq.answer}}</p>
                                    <a ng-click="scrollTo('faq-container')"><h5>back to top</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        </div>
    </div>
    </div>
    <div class="row">

            <div class="col-sm-4 col-sm-push-8" style="background-color:lavender;">.col-sm-4 .col-sm-push-8</div>
    <div class="col-sm-8 col-sm-pull-4" style="background-color:lavenderblush;">.col-sm-8 .col-sm-pull-4</div>
    </div>
    <div class="row">
    
    
    </div>