
        <div id="{{parentId}}">
here's a test
            <div class="panel" ng-repeat="item in model">
                <a href="#" data-toggle="collapse" data-parent="#{{parentId}}" data-target="#child{{$index}}" ng-click="model.selected = item">{{item.subject}}
                </a>
                <div id="child{{$index}}" ng-class="{'collapse':true}">
                    <ul>
                        <li ng-repeat="subitem in item.questions">{{subitem.question}}</li>
                    </ul>
                </div>
            </div>
        </div>
 
